body{
    display: flex;
    flex-direction: column;
}

ul{
    list-style: none;
}

li{
    text-decoration: none;
}

a{
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    color:#f9faf8;
    padding-right: 60px;
    padding-left: 60px;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
    
}
.top-top{
    display: flex;
    gap: 20px;   
}
.top{
    display: flex;
    gap: 50px;
    flex:1;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2937;
    color:#f9faf8;
    padding: 48px 60px;
}
.main{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-self:flex-start;
    flex-wrap: wrap;
    padding: 32px;
    padding-left: 0;
    padding-right: 32px;
    max-width: 350px;
}
.main-one{
    font-size: 48px;
    font-weight: bolder;
}
.under-main-one{
    font-size: 18px;
    color: #e5e7eb;
}
.img-top{
    width: 500px;
    height: 200px;
}
.top-button{
    margin-right: auto;
    border: none;
    border-radius: 8px;
    background:#3992f6;
    padding: 8px 18px;
    color: #e5e7eb;
    font-weight:bold ;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.center-top{
    font-size: 36px;
    font-weight: bolder;
    color:#1f2937;
    margin: 40px;
}
.center-info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-bottom: 32px;
    padding: 40px;
}
.box{
    display: flex;
    flex-flow: column wrap;
    gap: 8px;
    align-items: center;
    padding: 18px;
    text-align: center;
}
.img-center{
    border: 5px solid #3992f6;
    border-radius: 15px;
    height: 200px;
    width: 200px;
}
.quote-box{
    display: flex;
    flex-flow: column wrap;
    background-color:#e5e7eb;
    align-items: center;
    justify-content: center;
    padding: 85px 135px;
}
.quote{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}
.quote-author{
    align-self: flex-end;
    font-weight: bold;
    font-size: 30px;
}
.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: #e5e7eb;
    background-color: #3992f6;
    padding: 35px 90px;
    border-radius: 8px;
    margin: 80px 30px;
}
.bottom-call{
    font-size: 16px;
    font-weight: bold;
}
.bottom-left{
    display: flex;
    flex-flow: column wrap;
}
.bottom-button{
    border:2px solid #e5e7eb;
    padding: 5px 20px;
    margin-left: auto;
    background-color: #3992f6;
    font-weight: bold;
    border-radius: 8px;
    color: #e5e7eb;
}
footer{
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 36px;

}